{% extends "project/layout.html" %}

{% block body %}

<!-- Edit -->

{{message}}
<div class = "login">
<form action = "{%url 'savethehawkers:creations'%}" method = "POST">
    {%csrf_token%}
    Latitude:{{form3.latitude}} <br>
    Longitude:{{form3.longtitude}} <br>
    Name:{{form3.name}} <br>
    Address:{{form3.address}} <br>
    Recommendation:{{form3.reco}} <br>
    Stalltype:{{form3.stalltype}} <br>
    Hours: {{form3.hours}}
    Detail: {{form3.details}}
    Contributor: You :)
    <input type = "hidden" name = "contributor" value = "{{ user.username }}">
    <input type = "submit" value = "Create">
</form>
</div>
{% endblock %}