{% extends "project/layout.html" %}

{% block body %}

<!-- Edit -->
{{message}}
<div class = "login">
<form action = "{%url 'savethehawkers:creations'%}" method = "POST">
    {%csrf_token%}
    Postal Code:{{form3.postalcode}} <br>
    Name:{{form3.name}} <br>
    Recommendation:{{form3.reco}} <br>
    Image URL from online:{{form3.image1}}
    <label for="stalltype">Stall Type:</label> <br>
    <select name="stalltype" id="stalltype">
        <option disabled selected value> Stall Type </option>
        <option value="Chinese">Chinese</option>
        <option value="Malay">Malay</option>
        <option value="Indian">Indian</option>
        <option value="Western">Western</option>
        <option value="Dessert">Dessert</option>
        <option value="Drinks">Drinks</option>
        <option value="Snacks">Snacks</option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Others">Others</option>
    </select>
    Hours: {{form3.hours}}
    Detail: {{form3.details}}
    Number: <input type = "number" name = "number">
    Halal: <input type = "checkbox" name = "halal">
    Contributor: You :)
    {%if user.is_authenticated%}
    <input type = "hidden" name = "contributor" value = "{{ user.username }}">
    {%else%}
    <input type = "hidden" name = "contributor" value = "Anonymous">
    {%endif%}
    <input type = "submit" value = "Create">
</form>
</div>
{% endblock %}