{% extends "project/layout.html" %}

{% block body %}
<dt>{%if not no%}Page {{pagenumber}},{%endif%} Postal code: {{postalcode}}</dt>
<form action = "{%url 'savethehawkers:index'%}" method = "POST">
    {%csrf_token%}
    <input type = "text" name = "postalcode">
    <input type = "submit">
</form> 
<dt>{{message}}</dt>
<form action = "{%url 'savethehawkers:search'%}" method = "POST">
    {%csrf_token%}
    {{form}}
    <input type = "submit">
</form> 
<dt>{{searchmessage}}</dt>
<form action = "{%url 'savethehawkers:stalltype'%}" method = "POST">
    {%csrf_token%}
    <select name = "stalltype">
        <option value = "Chinese">Chinese</option>
        <option value = "Malay">Malay</option>
        <option value = "Indian">Indian</option>
        <option value = "Western">Western</option>
        <option value = "Dessert">Dessert</option>
        <option value = "Drinks">Drinks</option>
        <option value = "Snacks">Snacks</option>
        <option value = "Vegetarian">Vegetarian</option>
        <option value = "Others">Others</option>
    </select>
    <input type = "text" name = "postalcode">
    <input type = "submit">
</form> 


<iframe src="https://www.google.com/maps/d/embed?mid=1XcpTiJpt_O-Rw6Wu8qrtCm_Ek9VUgIDF" width="640" height="480"></iframe>
{%if not no%}
<table class = "table table-dark">
    <thead>
    <tr>
        {% for name in names %} {% if forloop.counter <= 6 %}
        <th><a href = "{%url 'savethehawkers:info' name%}">{{name}}</a></th>
        {%endif%}
        {%empty%}
        <th>No results.</th>
        {%endfor%}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for lat,long,latitude,longtitude in latandlong %} {% if forloop.counter <= 6 %}
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m20!1m8!1m3!1d3988.6465974837542!2d103.90673351475411!3d1.388622348987243!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d{{lat}}!2d{{long}}!4m3!3m2!1d{{latitude}}!2d{{longtitude}}!5e0!3m2!1sen!2ssg!4v1622359275905!5m2!1sen!2ssg" width="240" height="180" style="border:0;" allowfullscreen="" loading="lazy" id = "map"></iframe></td>
        {%endif%}
        {%empty%}<td>No results.</td>
        {%endfor%}
    </tr>
    <tr>
        {% for number in numbers %} {% if forloop.counter <= 6 %}
        <td>{{number}} metres away.</td>
        {%endif%}
        {%empty%}<td>No results.</td>
        {%endfor%}
    </tr>
    <tr>
        {% for address in addresses %} {% if forloop.counter <= 6 %}
        <td>{{address}}</td>
        {%endif%}
        {%empty%}<td>No results.</td>
        {%endfor%}
    </tr>
    <tr>
        {% for hour in hours %} {% if forloop.counter <= 6 %}
        <td>{{hour}}</td>
        {%endif%}
        {%empty%}<td>No results.</td>
        {%endfor%}
    </tr>
    <tr>
        {% for rec in recos %} {% if forloop.counter <= 6 %}
        <td>{{rec}}</td>
        {%endif%}
        {%empty%}<td>No results.</td>
        {%endfor%}
    </tr>
    </tbody>
</table>
<form action = "{%url 'savethehawkers:nextindex' pagenumber%} " method = "POST">
    {%csrf_token%}
    <input type = "hidden" name = "postalcode" value = "{{postalcode}}">
    <input type = "hidden" name = "pagenumber" value = "{{pagenumber}}">
    <input type = "submit" value = "Next">
</form>
{%endif%}
<!-- History -->
<h4>History of created listings</h4>
<table class = "table table-dark">
    {%for hist in history%}
    <thead>
    <tr>
        <th>{{hist.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{hist.contributor}}</td>
    </tr>
    <tr>
        <td>{{hist.address}}</td>
    </tr>
    </tbody>
    {%endfor%}
</table>

{% endblock %}