{% extends "project/layout.html" %}
{%load static%}


{% block body %}

<script>
    function openDelete(){
  document.getElementById("delete").style.display = "block";
}
function closeDelete(){
  document.getElementById("delete").style.display = "none";
}
  function openFeedback(){
  document.getElementById("feedbacktotal").style.display = "block";
}
function closeFeedback(){
  document.getElementById("feedbacktotal").style.display = "none";
}
</script>
<div id = "feedbacktotal" style="display:none;">
  <div class = "background-fade">
  </div>
  <div class = "feedback">
    <button onclick="closeFeedback()" class="w3-bar-item w3-button w3-small" style = "margin: 0; padding: 0;">Close &times;</button>
    <form action = "{% url 'savethehawkers:editing' stalls.name %}" method = "POST" style = "text-align: left;" enctype="multipart/form-data">
      {%csrf_token%}
      <div class = "form-group m-3">
      Image:<input  type = "file" name = "image" class = "form-control-file">
      </div>
      Latitude:<input type = "float" name = "latitude" value = "{{stalls.latitude}}" class = "form-control"><br>
      Longitude:<input type = "float" name = "longtitude" value = "{{stalls.longtitude}}" class = "form-control"><br>
      Name:<input type = "hidden" name = "name" value = "{{stalls.name}}" class = "form-control">{{stalls.name}}<br>
      Stalltype:<input type = "text" name = "stalltype" value = "{{stalls.stalltype}}" class = "form-control"><br>
      Address:<input type = "text" name = "address" value = "{{stalls.address}}" class = "form-control"><br>
      Hours:<input type = "text" name = "hours" value = "{{stalls.hours}}" class = "form-control"><br>
      Recommendation:<input type = "text" name = "reco" value = "{{stalls.reco}}" class = "form-control"><br>
      Details:<input type = "text" name = "details" value = "{{stalls.details}}" class = "form-control"><br>
      Contributor:<input type = "hidden" name = "contributor" value = "{{stalls.contributor}}" class = "form-control">{{stalls.contributor}}<br>
      Hawker's Message:<input type = "text" name = "message" value = "{{stalls.message}}" class = "form-control"><br>
      Number:<input required type = "number" name = "number" value = "{{stalls.number}}" class = "form-control"><br>
      Online Delivery Needed:<input type = "checkbox" name = "fooddelivery" value = "{{stalls.fooddelivery}}" class = "form-control"><br>
      Has Phone Delivery:<input type = "checkbox" name = "phonedelivery" value = "{{stalls.phonedelivery}}" class = "form-control"><br>
      Needs Freelance Deliverers:<input type = "checkbox" name = "freelance" value = "{{stalls.freelance}}" class = "form-control"><br>
      Deals:<input type = "text" name = "deals" value = "{{stalls.deals}}" class = "form-control"><br>
      Awards:<input type = "text" name = "awards" value = "{{stalls.awards}}" class = "form-control"><br>
      <input type = "submit" value = "Submit" class = "btn btn-primary">
    </form>
  </div>
</div>
<!-- Edit -->

  <div id = "delete" style="display:none;">
    <div class = "background-fade">
    </div>
    <div class = "feedback">
      <button onclick="closeDelete()" class="w3-bar-item w3-button w3-small" style = "margin: 0; padding: 0;">Close &times;</button>
      <form action = "{%url 'savethehawkers:delete' stalls.name%}" method = "POST" style = "text-align: left;">
        {%csrf_token%}
        Are you sure?
        <input type = "submit" value = "Yes" style = "background-color: #b2ab8c; width: 33vw; height: 60px; border: 3px solid black;">
      </form>
    </div>
  </div>
  {% if user.is_authenticated %}
<button onclick = "openDelete()">Delete</button> <button onclick="openFeedback()">Edit</button>
{%else%}
<dt> Sign in to make changes.</dt>
{%endif%}
<h2 style = "text-align: center;">Stall Information</h2>
<div class = "d-flex flex-row flex-wrap">
    <table class = "place table table-dark">
    <tr>
      <td><span style = "color: gray">Orders: </span>{%for item in items%}{{item}}{%endfor%}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Name: </span>{{stalls.name}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Stall type: </span>{{stalls.stalltype}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Address: </span> {{stalls.address}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Hours: </span> {{stalls.hours}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Recommendation: </span>{{stalls.reco}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Details: </span> {{stalls.details}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Contributor: </span> {{stalls.contributor}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Message: </span> {{stalls.message}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Number: </span> {{stalls.number}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Online Delivery: </span> {{stalls.fooddelivery}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Phone Delivery: </span> {{stalls.phonedelivery}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Freelance Delivery Needed: </span> {{stalls.freelance}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Deals: </span> {{stalls.deals}}</td>
    </tr>
    <tr>
      <td><span style = "color: gray">Awards: </span> {{stalls.awards}}</td>
    </tr>
    </table>
    <div class = "float-left d-flex">
      {%block stalls.image%}
      {%if stalls.image%}
      <td><span style = "color: gray"></span><img src="{{stalls.image.url}}" style = "width: 100vw"></td>
      {%else%}
      <td><span style = "color: gray">Image: </span>-</td>
      {%endif%}
      {%endblock%}
    </div>
</div>
    <hr>
<div class = "m-3 rounded shadow-lg" style = "background-color: lightgray;">
<form action = "{% url 'savethehawkers:comment' stalls.name %}" method = "POST" enctype="multipart/form-data">
  {%csrf_token%}
  <h2 class = "m-3"> Comments </h2>
  <div class = "form-group m-3">
  <input required type = "text" name = "description" class = "form-control" placeholder = "Comment">
</div>
<div class = "form-group m-3">
  <input required type = "text" name = "ordered" class = "form-control" placeholder = "What did you order?">
</div>
  <div class = "form-group m-3">
    Image:<input required type = "file" name = "foodimage" class = "form-control-file">
    </div>
  <input type = "submit" value = "Submit" class = "m-3 btn btn-primary">
</form>
</div>
<table class = "table table-hover table-sm" style = "width:fit-content; margin-left: 20px">
  <thead class = "thead-dark">
      <tr>
          <th>Comment</th>
          <th>Image</th>
          <th>Order</th>
          <th>Stall Name</th>
          <th>Address</th>
      </tr>
  </thead>
  <tbody>
    {%for comment in comments%}
      <tr>
          <td>{{comment.comment}}</td>
          <td><img src="{{comment.image.url}}" width= "100" height= "100"></td>
          <td>{{comment.ordered}}</td>
          <td><a href = "{%url 'savethehawkers:info' comment.stallname %}">{{comment.stallname}}</a></td>
          <td>{{comment.address}}</td>
      </tr>
      {%endfor%}
  </tbody>
</table>
{% endblock %}