{% extends "project/layout.html" %}
{%load static%}


{% block body %}

<script>
    function openReport(){
  document.getElementById("report").style.display = "block";
}
function closeReport(){
  document.getElementById("report").style.display = "none";
}
  function openFeedback(){
  document.getElementById("modal").style.display = "block";
}
function closeFeedback(){
  document.getElementById("modal").style.display = "none";
}
window.onclick = function(event) {
  if (event.target == document.getElementById("modal")) {
    document.getElementById("modal").style.display = "none";
  }
}
</script>
<div id = "modal" style="display:none;">
  <div id = "modal-content">
    <button onclick="closeFeedback()" class="w3-bar-item w3-button w3-small" style = "margin: 0; padding: 0;">Close &times;</button>
    <form action = "{% url 'savethehawkers:editing' stalls.name %}" method = "POST" style = "text-align: left;" enctype="multipart/form-data">
      {%csrf_token%}
      Image URL:<input  type = "url" name = "image1" value = "{{stalls.image1}}"class = "form-control"><br>
      Latitude:<input type = "float" name = "latitude" value = "{{stalls.latitude}}" class = "form-control"><br>
      Longitude:<input type = "float" name = "longtitude" value = "{{stalls.longtitude}}" class = "form-control"><br>
      Name:<input type = "hidden" name = "name" value = "{{stalls.name}}" class = "form-control">{{stalls.name}}<br>
      Stalltype:<input type = "text" name = "stalltype" value = "{{stalls.stalltype}}" class = "form-control"><br>
      Address:<input type = "text" name = "address" value = "{{stalls.address}}" class = "form-control"><br>
      Hours:<input type = "text" name = "hours" value = "{{stalls.hours}}" class = "form-control"><br>
      Recommendation:<input type = "text" name = "reco" value = "{{stalls.reco}}" class = "form-control"><br>
      Details:<input type = "text" name = "details" value = "{{stalls.details}}" class = "form-control"><br>
      Contributor:<input type = "hidden" name = "contributor" value = "{{stalls.contributor}}" class = "form-control">{{stalls.contributor}}<br>
      Hawker's Message:<input type = "text" name = "message" value = "{{stalls.message}}" class = "form-control"><br>
      Number:<input required type = "number" name = "number" value = "{{stalls.number}}" class = "form-control"><br>
      Online Delivery Needed:<input type = "checkbox" name = "fooddelivery" value = "{{stalls.fooddelivery}}" class = "form-control"><br>
      Has Phone Delivery:<input type = "checkbox" name = "phonedelivery" value = "{{stalls.phonedelivery}}" class = "form-control"><br>
      Needs Freelance Deliverers:<input type = "checkbox" name = "freelance" value = "{{stalls.freelance}}" class = "form-control"><br>
      Halal:<input type = "checkbox" name = "halal" value = "{{stalls.halal}}" class = "form-control"><br>
      Deals:<input type = "text" name = "deals" value = "{{stalls.deals}}" class = "form-control"><br>
      Awards:<input type = "text" name = "awards" value = "{{stalls.awards}}" class = "form-control"><br>
      Price Range:<input type = "text" name = "pricerange" value = "{{stalls.pricerange}}" class = "form-control">
      <hr>
      Your email (for contact purposes):<input required type = "text" name = "email" value = "{{stalls.pricerange}}" class = "form-control"><br>
      <input type = "submit" value = "Submit" class = "btn btn-primary">
    </form>
  </div>
</div>
{%if report%}
<button class="accordion">This stall was reported {{count}} times - exercise judgement of the information.</button>
<div class="panel">
  {%for rep in report%}
  <p>{{rep.user}} reported this for {{rep.reason}}.</p>
  {%endfor%}
</div>
{%endif%}
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>
  
</br>

<!-- Edit -->
  <div id = "report" style="display:none;">
    <div class = "report-content">
      <button onclick="closeReport()" class="w3-bar-item w3-button w3-small" style = "margin: 0; padding: 0;">Close &times;</button>
      <form action = "{%url 'savethehawkers:report' stalls.name%}" method = "POST" style = "text-align: left;">
        {%csrf_token%}
        Are you sure?
        <input type = "text" placeholder="reason" name = "reason">
        {%if user.is_authenticated%}
        <input type = "hidden" name = "user" value = "{{user.username}}">
        {%else%}
        <input type = "hidden" name = "user" value = "Anonymous">
        
        {%endif%}
        <input type = "submit" value = "Yes" style = "background-color: #b2ab8c; width: 33vw; height: 60px; border: 3px solid black;">
      </form>
    </div>
  </div>

<button onclick = "openReport()">Report</button>
<button onclick="openFeedback()">Edit</button>




<!-- Stall Information -->
<div class="listing-example">
  <h1 style="padding: 0.5rem;">{{stalls.name}} </h1>
  {%block stalls.image1%}{%if stalls.image1%}
  <div class="listing-example-img"><img src="{{stalls.image1}}" style="position: relative; height: 100%; width: 100%;"></div>
  {%else%}
  <div class="listing-example-img"><img src="{% static 'project/hawk.png'%}" style="position: relative; height: 100%; width: 100%;"></div>
  {%endif%}
  {%endblock%}
  <p class="listing-example-info">
    <span style = "font-size: 2rem; font-weight: bold;">"{{stalls.details}}"</span><br>
    - Written by {{stalls.contributor}}<br>
    <hr>
    <br>
    <div style = "width: 400px; background-color: bisque;">
      <span style = "font-weight: bold; color: brown">Details</span><br>
      Address: {{stalls.address}} <br>
      Hours: {{stalls.hours}} <br>
      Recommendation: {{stalls.reco}} <br>
      Price Range: {{stalls.pricerange}}<br>
    </div>
    <br>
    <div style = "width: 400px; background-color: bisque;">
      <span style = "font-weight: bold; color: brown">Presence</span><br>
      Number: {{stalls.number}} <br>
      Is it on online delivery platforms: {%if stalls.fooddelivery%}<p style = "color: green">Yes</p>{%else%}<p style = "color: red">No</p>{%endif%} <br>
      Do they have phone delivery: {%if stalls.phonedelivery%}<p style = "color: green">Yes</p>{%else%}<p style = "color: red">No</p>{%endif%} <br>
      Do they need freelance deliverers: {%if stalls.freelance%}<p style = "color: green">Yes</p>{%else%}<p style = "color: red">No</p>{%endif%} <br>
    </div>
    <br>
    <div style = "width: 400px; background-color: bisque;">
      <span style = "font-weight: bold; color: brown">Judgement</span><br>
      Is it Halal: {{stalls.halal}} <br>
      Stall type: {{stalls.stalltype}} <br>
      Deals: {{stalls.deals}} <br>
      Awards: {{stalls.awards}} <br>
    </div>     
    <br>
      Recent Orders: {%for item in items%}{{item}}{%empty%}None. Add a comment and help foodies know which item is the best!{%endfor%} <br>
      <a class="fa fa-facebook" href = "{{stalls.facebook}}" style = "background-color: blue; color: white; width: 30px; height: 30px; padding: 10px; box-sizing: border-box;"></a><br>
      <a class="fa fa-twitter" href = "{{stalls.twitter}}" style = "background-color: blue; color: white; width: 30px; height: 30px; padding: 10px; box-sizing: border-box;"></a>
  </p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d498.59396031146974!2d{{stalls.longtitude}}!3d{{stalls.latitude}}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ssg!4v1626333072249!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>


<form style = "margin-left: 15px;" action = "{% url 'savethehawkers:comment' stalls.name %}" method = "POST" enctype="multipart/form-data">
  {%csrf_token%}
  <h2 class = "m-3"> Comments </h2>
  <div class = "form-group m-3">
    <textarea required type = "text" name = "description" class = "form-control" placeholder = "Comment" minlength="50" maxlength = "1000"></textarea>
  </div>
  <div class = "form-group m-3">
    <input style = "outline: none; resize: none; overflow: auto;" cols = '30' rows = '6' required type = "text" name = "ordered" class = "form-control" placeholder = "What did you order?"></textarea>
  </div>
  <div class = "form-group m-3">
    Image:<input required type = "file" name = "foodimage" class = "form-control-file">
  </div>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <div class="g-recaptcha" data-sitekey="6Lf9VYgbAAAAAEO-UUSnaFYLN9Sa_tJaVYkjDTrW"></div>
  <!-- 6Lf9VYgbAAAAAEO-UUSnaFYLN9Sa_tJaVYkjDTrW -->
  <!-- 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI -->
  <input type = "submit" value = "Submit" class = "m-3 btn btn-primary">
  <input type = "hidden" value = "{{user.username}}" name = "contributor">

</form>
{{message}}
<div style = "margin-left: 15px">
  
  <h2>Comments</h2>
  {%for comment in comments%}
  {%if forloop.revcounter <= 5%}
  <p>{{comment.comment}}</p>
  <p><img src="{{comment.image.url}}" width= "100" height= "100"></p>
  <p>{{comment.ordered}}</p>
  {%endif%}
  {%empty%}
  Be the first to promote the hawker's stall!
  {%endfor%}
</div>
  
  
<footer>
  <a href="#">GitHub</a>
</footer>

{% endblock %}