{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'project/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,800;1,300&display=swap"
            rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'project/typed.js' %}"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>
        <!-- Latest compiled and minified CSS -->
        <title>SavetheHawkers</title>
    </head>
    <body>
        <header>
            <h1>Save The Hawkers</h1>
            <nav>
                <ul>
                    <li><a class="active" href="{% url 'savethehawkers:index' %}">Home</a></li>
                    <li><a href="{% url 'savethehawkers:community' %}">Community</a></li>
                    {% if user.is_authenticated %}
                    <li style = "float:right;"><a href = "{% url 'savethehawkers:user' user.username%}"style = "color:black;">Signed in as <strong>{{ user.username }}</strong>.</a></li>
                    <li><a href="{% url 'savethehawkers:logout' %}">Log Out</a></li>
                    <li><a  href="{% url 'savethehawkers:creations' %}">Create Entry</a></li>

                    {% else %}
                    <li style="float:right">Not signed in</li>
                    <li><a  href="{% url 'savethehawkers:login' %}">Log In/Register</a></li>
                    <li><a  href="{% url 'savethehawkers:creations' %}">Create Entry</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>