{% extends "project/layout.html" %}

{% block body %}
    <div class="login">
        <form action="{% url 'savethehawkers:login' %}" method="post">
            {% csrf_token %}
            <h2>Login</h2>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Username" name="username" required>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Password" name="password" required>
            <input type="submit" value="Login">
            <h4 style = "color:red">{% if message %}{{ message }}{% endif %}</h4>
        </form>

    </div>
    Don't have an account? <a href="{% url 'savethehawkers:register' %}">Register here.</a>

    <footer>
        <a href="#">GitHub</a>
    </footer>
    
{% endblock %}