{% extends "project/layout.html" %}
{% load static %}
{% block body %}
<div class="profile-header">
    <div class="profile-img">
      <img src="{% static 'project/avatar.png' %}" width="200" alt="Profile Image">
    </div>
    <div class="profile-nav-info">
      <h3 class="user-name">{{user.username}}</h3>
      <div class="address">
        <p id="state" class="state">XX,</p>
        <span id="country" class="country">Singapore.</span>
      </div>

    </div>
    <div class="profile-option">
      <div class="notification">
        <i class="fa fa-bell"></i>
        <span class="alert-message">3</span>
      </div>
    </div>
  </div>

  <div class="main-bd">
    <div class="left-side">
      <div class="profile-side">
        <p class="mobile-no"><i class="fa fa-telegram"></i> @xxxxxxx </p>
        <p class="user-mail"><i class="fa fa-envelope"></i> XXX@gmail.com</p>
        <div class="user-bio">
          <h3>Bio</h3>
          <p class="bio">
            I am a avid supporter of the local hawker scene and I appreciate the efforts done for the hawkers so far.
          </p>
        </div>
        <div class="profile-btn">
          <button class="chatbtn" id="chatBtn"><i class="fa fa-comment"></i> Chat</button>
          <button class="createbtn" id="Create-post"><i class="fa fa-plus"></i> Create</button>
        </div>
        <div class="user-rating">
          <h3 class="rating">1</h3>
          <div class="rate">
            <div class="star-outer">
              <div class="star-inner">
                <i class="fa fa-cutlery"></i>
                <i class="fa fa-cutlery"></i>
                <i class="fa fa-cutlery"></i>
                <i class="fa fa-cutlery"></i>
                <i class="fa fa-cutlery"></i>
              </div>
            </div>
            <span class="no-of-user-rate"><span>{{points}} points accumulated.</span>&nbsp;&nbsp;</span>
          </div>

        </div>
      </div>

    </div>
    <div class="right-side">

      <div class="nav">
        <ul>
          <li onclick="tabs(0)" class="user-post active">Posts</li>
          <li onclick="tabs(1)" class="user-review">Reviews</li>
          <li onclick="tabs(2)" class="user-setting"> Reports</li>
        </ul>
      </div>
      <div class="profile-body">
        <div class="profile-posts tab">
          <h1>Your Post</h1>
          <div class="filter-results-listing">
            {%for hawk in hawker%}
            
            <h3 class="listing-stall"><a href = "{%url 'savethehawkers:info' hawk.name%}">{{hawk.name}}</a></h3>
    
            <div class="listing-map">
           </div>
    
            <p class="listing-address">
            Address: {{hawk.address}}</p>
    
            <p class="listing-opening-hours">
            Opening Hours:{{hawk.hours}}</p>
    
            <p class="listing-recommendation">
            Recommendation:{{hawk.reco}}
            {%empty%}
            Add your first listing <a href = "{% url 'savethehawkers:creations' %}"> here </a>
            {%endfor%}
        </div>
        </div>
        <div class="profile-reviews tab">
          <h1>User reviews</h1>
          <p>{%for com in comment%}
            {{com.comment}}<br>
            <a href = "{%url 'savethehawkers:info' com.stallname%}">{{com.stallname}}</a><br>
            {%empty%}
            No comments created.<br>
            {%endfor%}</p>
        </div>
        <div class="profile-settings tab">
          <div class="account-setting">
            <h1>User Reports</h1>
          <p>{%for rep in report%}
            Report:{{rep.reason}} ({{rep.stallname}})<br>
            {%empty%}
            No reports created.<br>
            {%endfor%}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      $(".nav ul li").click(function() {
  $(this)
    .addClass("active")
    .siblings()
    .removeClass("active");
});

const tabBtn = document.querySelectorAll(".nav ul li");
const tab = document.querySelectorAll(".tab");

function tabs(panelIndex) {
  tab.forEach(function(node) {
    node.style.display = "none";
  });
  tab[panelIndex].style.display = "block";
}
tabs(0);

let bio = document.querySelector(".bio");
const bioMore = document.querySelector("#see-more-bio");
const bioLength = bio.innerText.length;

function bioText() {
  bio.oldText = bio.innerText;

  bio.innerText = bio.innerText.substring(0, 100) + "...";
  bio.innerHTML += `<span onclick='addLength()' id='see-more-bio'>See More</span>`;
}
//        console.log(bio.innerText)

bioText();

function addLength() {
  bio.innerText = bio.oldText;
  bio.innerHTML +=
    "&nbsp;" + `<span onclick='bioText()' id='see-less-bio'>See Less</span>`;
  document.getElementById("see-less-bio").addEventListener("click", () => {
    document.getElementById("see-less-bio").style.display = "none";
  });
}
if (document.querySelector(".alert-message").innerText > 9) {
  document.querySelector(".alert-message").style.fontSize = ".7rem";
}

  </script>


{% endblock %}