body {
    padding: 10px;
}
@keyframes card {
    0.0%{
        transform-origin: left;
        opacity: 0;
    }
    100%{
        transform-origin: left;
        opacity: 1;
    }
}
.card {
    animation-name: card;
    position: relative;
    animation-duration:2s;
    animation-fill-mode: forwards;
}